html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: linear-gradient(rgb(238, 174, 89), rgb(204, 133, 245));
}

.container {
  height: 100vh;
}

.first-form {
  background-color: white;
  width: 350px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px #313131;
  position: absolute;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
@-webkit-keyframes popup {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }

  75% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes popback {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.second-form {
  background-color: white;

  width: 350px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px #313131;
  position: absolute;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  50% {
    opacity: 0.5;
  }

  95% {
    opacity: 0.9;
    transform: translate(-20px);
    transition: 0.8s;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.third-form {
  background-color: white;

  width: 350px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px #313131;
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@-webkit-keyframes slideout {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    transform: translateX(-20px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translateX(170px);
  }
}
.form {
  text-align: center;
  display: flex;
}
input {
  width: 250px;
  padding: 15px;
  margin: 7px;
  border-radius: 5px;
  border: thin rgb(158, 155, 155) solid;
}
.btn {
  width: 100px;
  height: 40px;
  font-family: inherit;
  margin: 5px;
  cursor: pointer;
}
.btn-next {
  margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background-color: rgb(25, 155, 68);
  color: white;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 25px;
  font-weight: 200;
  color: #313131;
}

p {
  margin-top: -15px;
  color: #313131;
}

.text-area {
  width: 250px;
  padding: 15px;
  margin: 7px;
  border-radius: 5px;
  border: thin rgb(158, 155, 155) solid;
  resize: none;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
}

.flex-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  font-size: 14px;
  gap: 32px;
}
.flex-2 > span {
  display: flex;
  align-items: center;
}

.flex > div {
  display: flex;
  align-items: center;
}

.box-1 {
  display: flex;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(25, 155, 68);
  color: white;
  position: relative;
}

.box-2 {
  display: flex;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.box-3 {
  display: flex;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.line1 {
  width: 120px;
  height: 3px;
  margin-top: 10px;
  background-color: white;
}
.line2 {
  width: 120px;
  height: 3px;
  margin-top: 10px;
  background-color: white;
}

.account {
  color: rgb(25, 155, 68);
}
.social {
  color: white;
}

.personal {
  color: white;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
